{% extends 'mysite/new.html' %}
{% block machine %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center flex-column">

    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <form method='POST' id='main' action="{% url 'machine' %}">
        {% csrf_token %}
        {% for obj in res_form %}
        <p> <label class="form-label" for="{{ obj.id_for_label }}">{{obj.label}}:</label>{{obj}}</p>
        {% endfor %}
    </form>
    

<div class="btn-group-vertical" role="group">
    <button  form='main' class="btn btn-success">Отправить</button>
    <form method='get' action="{% url 'list' %}">
        <button  class="btn btn-primary">Получить список результатов</button>
    </form>
    <form method='get' id='ret' action="{% url 're' %}">
    </form>
    <button  form='ret' class="btn btn-danger">Переобучить модель</button>



</div>
    {% if res %}
    <div>
        <p id="res">Категория: {{res.cat}} - {{res.body}}</p>
    </div>
    {% endif %}

</div>
{% endblock %}
