{% extends 'mysite/new.html' %}
{% block blog %}
<div id='abs' class="container min-vh-100 d-flex justify-content-center align-items-center">
<div>
    <h1>Серверный компонент для системы распознавания лиц</h1> 
<p>В результате развития информационных технологий и их громадной пользы в
работе человека сегодня уже практически невозможно встретить организацию, в
которой они отсутствуют или применяются в ограниченном масштабе. Но несмотря на
огромный вклад в человеческую повседневность они влекут за собой огромное
количество новых угроз. Одной из самой вредных и неприятных угроз для
организаций является утечка данных, поскольку она подрывает доверие потребителя
и потенциально может привести к закрытию бизнеса. Подобную проблему также
встречают образовательные организации, использующие в своей работе приложения на
базе платформы 1C. Решением данной проблемы является усложнение механизма
авторизации – добавление в него еще одного шага в виде распознавания лиц. Для ее
конструирования оптимальным образом необходимо спроектировать архитектуру с
учетом актуальных на текущий момент бизнес-требований образовательных
организаций и разработать программный прототип готовый к интеграции в текущие
программные образовательные решения. В статье приводится пример вышеуказанной
архитектуры и приложения на ее базе, которые в дальнейшем могут быть
интегрированы в любую систему на базе «1С: Предприятие».</p>
</div>
</div>
{% endblock %}
