{% extends 'mysite/new.html' %}
{% block trans %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center flex-column">

    <form method="GET" action="{% url 'trans' %}">
        <label for="input">Введите фразу для перевода:</label>
        <textarea class="form-control" rows="3" id="input" name="string" required maxlength="100"></textarea>
        <div class="form-check">
        <fieldset>
          <legend>Выберите тип перевода:</legend>
              <div>
                <input class="form-check-input" type="radio" id="enru" name="lang" value="ru"/>
                <label class="form-check-label "for="enru">С английского на русский</label>
              </div>
              <div>
                <input class="form-check-input" type="radio" id="ruen" name="lang" value="en" />
                <label class="form-check-label" for="ruen">С русского на английский</label>
              </div>
        </fieldset>
        </div>
        <button class="btn btn-primary">Перевести</button>
    </form>

    {% if res %}
    <div>
        <label for="res">Перевод:</label>
        <p id="res"> {{res}} </p>
    </div>
    {% endif %}

</div>
{% endblock %}
